*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

/*--------- HEARDER ---------*/
#gridIndex {
    display: grid;
    grid-template-areas: 
        "header"
        "titulo"
        "losDestacados"
        "footer";
    grid-template-rows: auto auto auto auto;
}

.encabezado {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: small;
    background-color: #fa7f9e;
}

.encabezado h1{
    margin-left: 20px;
    text-align: justify;
    color: #f0f4fa;
    margin-top: 5px;
}

.encabezado nav ul{
    display: flex;
    list-style: none;
}

.encabezado ul li a{
    color: white;
    display: block;
    padding: 10px 50px; 
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.encabezado ul li a:hover {
    background-color: #cf6983;
}

.titulo {
    grid-area: titulo;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgb(255,236,185);
    background: radial-gradient(circle, rgba(255,236,185,1) 30%, rgba(255,255,255,1) 100%);
}

.titulo h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}

.titulo p {
    font-size: 17px;
    text-align: center; 
}

/*------ Los destacados ------*/
.losDestacados h3{
    display: flex;
    color: rgb(61, 61, 61);
    margin-left: 30px; 
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
} 

.contenedor {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: stretch; 
    align-content: space-between; 
}

.cards {
    margin: 3rem 2rem; 
    margin-bottom: 100px;
    padding: 10px;
    border: solid 1px white;
    width: 80%;
    text-align: center;
    font-size: small;
    background-color: #fae8bb;
    transition: padding 2s;
}

.cards :hover {
    padding: 20px;
}

.cards h4 {
    color: rgb(61, 61, 61);
    margin-top: 10px;
}

.cards img {
    width: 100%;
}

/*------- Main de mis otras páginas -------*/
#gridContenedor {
    display: grid;
    grid-template-areas: 
        "header"
        "tituloPagina"
        "eventos"
        "footer";
    grid-template-rows: auto auto auto auto;
}

.tituloPagina {
    grid-area: tituloPagina;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 200;
}

.eventos {
    grid-area: eventos;
    margin-top: 60px;
    background-color: #fae8bb;
    margin-bottom: 100px;
}

.eventos h2 {
    display: flex;
    color: rgb(61, 61, 61);
    padding-top: 30px;
    margin-left: 10px; 
}

.eventosDes0 {
    display: flex;
    align-items: center;
}

.eventosDes0 > img {
    padding-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 120%;
}

.eventosDes0 > p{
    margin: 20px;
    text-align: justify; 
    font-size: medium;
} 

.eventosDes {
    display: flex;
    align-items: center;
}

.eventosDes > img {
    padding-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 38%;
}

.eventosDes > p{
    margin: 20px;
    text-align: justify; 
    font-size: medium;
} 

.eventosDes2 {
    display: flex;
    align-items: center;
}

.eventosDes2 > img {
    padding-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.eventosDes2 > p{
    margin: 20px;
    text-align: justify; 
    font-size: medium;
} 

.eventosDes iframe {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 10px;
    width: 40%;
}

/*--------- Página de contacto ---------*/
#gridContenedor {
    display: grid;
    grid-template-areas: 
        "header"
        "tituloPagina"
        "formulario"
        "footer";
    grid-template-rows: auto auto auto auto;
}


.tituloContacto {
    grid-area: tituloPagina;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px; 
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px; 
    color: #242021;
}

.formGrid {
    grid-area: formulario;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin-top: 60px;
    background-color: #fae8bb;
    margin-bottom: 100px;
    
}

.formulario form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin: transparent;
}

.formulario fieldset {
    border-color: #fae8bb;
}

.formulario label {
    display: block;
    padding-top: 2px;
    padding-bottom:1px;
}

.formulario textarea {
    margin-top: 10px;
    padding-bottom: 20px;
    display: block;
}

.formulario input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mapa {
    margin-top: 10px;
    text-align: center;
}

/*--------- FOOTER ---------*/
.piePagina {
    grid-area: footer;
    background-color:#242021;
    width: 100%; 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-items: center;
    padding: 45px 0;
    overflow: hidden;
}

.piePagina section a{
    text-decoration: none;
    background-color:#69414b;    
    color: white;
    text-align: centre;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
} 

.asistencia {
    font-size: medium;
    color: white;
}

.asistencia ul{
    list-style: none;
    margin-top: 5px;
}

.asistencia ul li a{
    text-decoration: none;
    display: block;
    font-size: small;
}

.redes {
    font-size: medium;
    color: white;
} 

.redes h5 {
    margin-bottom: 5px;
}

.redes a img {
    width: 20px;
    height: 20px;
} 

/*:::::::: Vista Desktop ::::::::*/
@media only screen and (min-width: 1024px){
    #gridIndex {
        grid-template-areas: 
            "header"
            "titulo"
            "losDestacados"
            "pie";
        grid-template-rows: auto auto auto auto;
    }

    .encabezado {
        grid-area: header;
    }
    .titulo {
        grid-area: titulo;
    }
    .losDestacados {
        grid-area: losDestacados;
    }
    .piePagina {
        grid-area: pie;
    }

    #gridContenedor {
        grid-template-areas:
            "header"
            "titulo"
            "destacados"
            "pie"; 
        grid-template-rows: auto auto auto auto; 
    } 

    .tituloPagina {
        grid-area: titulo;
    }

    .eventos {
        grid-area: destacados;
    }
}

/*:::::::: Vista Mobile ::::::::*/ 
@media (max-width: 368px) {
    #gridIndex {
        grid-template-areas: 
            "header"
            "titulo"
            "losDestacados"
            "pie";
        grid-template-rows: auto auto auto auto;
    }

/*HEARDER */
    .encabezado {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    } 

    .encabezado h1{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 23px; 
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    
    .encabezado nav ul{
        display: flex;
        flex-direction: column;
    } 

    .encabezado nav ul li {
        text-align: center;
    }

/*MAIN*/
    .titulo {
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background-color: #fff8e6;
        text-align: center;
        height: fit-content;
        margin-bottom: 10px;
    }
    
    .titulo h2 {
        margin-top: 40px;
        font-size: 30px;
        padding: 10px;
        text-align: center;
    }
    
    .titulo p {
        padding: 10px;
        text-align: center; 
        font-size: 14px;
        padding-bottom: 30px;
    } 

    .losDestacados h3{
        grid-area: losDestacados;
        display: flex;
        flex-direction: column; 
        font-size: 20px;
        margin-top: 50px;
    } 

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards {
        margin: 1rem 1rem;
    }

/*FOOTER*/    
    .piePagina {
        grid-area: pie;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

/*------- Main de mis otras páginas --------*/
    #gridContenedor {
        grid-template-areas:
            "header"
            "titulo"
            "destacados"
            "pie"; 
        grid-template-rows: auto auto auto auto; 
    } 

    .tituloPagina {
        grid-area: titulo; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 50px;
        text-align: center;
    } 

    .eventos {
        grid-area: destacados;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;  
        align-items: center;
        background-color: #fae8bb;
        margin-bottom: 50px;
    } 

    .eventos h2 {
        color: rgb(61, 61, 61);
        padding-top: 30px;
    }

    .eventosDes0 > img {
        padding-top: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
        max-width: 80%;
    }

    .eventosDes0 > p{
        margin: 15px;
        text-align: justify; 
        font-size: 0%;
    } 
    
    .eventosDes > img {
        padding-top: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
        width: 80%;
    }
    
    .eventosDes > p{
        margin: 15px;
        text-align: justify; 
        font-size: 0;
        padding-bottom: 10%;
    }   

    .eventosDes > iframe {
        padding-top: 30px;
        padding-bottom: 20px;
        margin-left: 40px;
        width: 100%;
    }
}
