@charset "UTF-8";
/*--------- HEARDER ---------*/
.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto; }

.nombre {
  text-align: justify;
  color: #f0f4fa;
  font-weight: bold;
  font-size: 25px;
  margin-left: -25px; }

a:hover {
  color: white; }

.navbar {
  width: 100%;
  display: flex;
  list-style: none;
  background-color: #fa7f9e;
  padding: 0%; }

.encabezado nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  flex-wrap: wrap; }
  .encabezado nav ul li a {
    color: white;
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: large; }
    .encabezado nav ul li a:hover {
      background-color: #cf6983;
      color: white; }

.titulo {
  grid-area: titulo;
  height: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffecb9;
  background: radial-gradient(circle, #ffecb9 30%, white 100%); }
  .titulo h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px; }
  .titulo p {
    font-size: 17px; }

/*------ Los destacados ------*/
.losDestacados h3 {
  display: flex;
  color: #3d3d3d;
  margin-left: 44px;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: stretch;
  align-content: space-between; }

.card {
  margin: 3rem 3rem;
  margin-bottom: 5px;
  padding: 10px;
  border: solid 1px white;
  width: 80%;
  text-align: center;
  font-size: small;
  background-color: #fae8bb;
  transition: padding 2s; }
  .card :hover {
    padding: 20px; }
  .card img {
    width: 100%; }

.card-title {
  color: #3d3d3d;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold; }

/*------- Descubrí --------*/
.descubri h3 {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  margin-left: 44px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px; }

.carousel {
  padding-bottom: 50px;
  margin: 4rem 10rem; }

.carousel-inner h5 {
  color: #f0f4fa;
  font-size: 40px;
  font-weight: bold; }

.carousel-inner p {
  color: #f0f4fa; }

/*------- Main de mis otras páginas -------*/
#gridContenedor {
  display: grid;
  grid-template-areas: "header" "tituloPagina" "eventos" "footer";
  grid-template-rows: auto auto auto auto; }

.tituloPagina {
  grid-area: tituloPagina;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 40px;
  font-weight: 200; }

.eventos, .nosotros {
  grid-area: eventos;
  margin-top: 60px;
  background-color: #fae8bb;
  margin-bottom: 100px; }
  .eventos h2, .nosotros h2 {
    display: flex;
    color: #3d3d3d;
    padding-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px; }
  .eventos a, .nosotros a {
    text-decoration: none; }
    .eventos a :hover, .nosotros a :hover {
      color: #3e6582; }

.eventosDes0, .eventosDes, .eventosDes2, .eventosDes3, .eventosDes4 {
  display: flex;
  align-items: center; }
  .eventosDes0 img, .eventosDes img, .eventosDes2 img, .eventosDes3 img, .eventosDes4 img {
    padding-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 120%; }
  .eventosDes0 p, .eventosDes p, .eventosDes2 p, .eventosDes3 p, .eventosDes4 p {
    margin: 20px;
    text-align: justify;
    font-size: medium; }

.eventosDes img {
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 118%; }

.eventosDes iframe {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 20px;
  width: 120%; }

.eventosDes2 img {
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%; }

.eventosDes3 img {
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 35%; }

.eventosDes4 img {
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 43%; }

/*--------- Página de contacto ---------*/
.tituloContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 50px;
  color: #242021; }
  .tituloContacto h1 {
    font-weight: bold; }

.formGrid {
  grid-area: formulario;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  margin-top: 30px;
  background-color: #fae8bb;
  margin-bottom: 100px; }

.formulario form {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45px;
  margin: transparent; }

.formulario fieldset {
  border-color: #fae8bb; }

.formulario label {
  display: block; }

.formulario textarea {
  padding-bottom: 20px;
  display: block; }

.formulario input {
  margin-top: 2px;
  margin-bottom: 2px; }

.form-control {
  width: 80%; }

.boton {
  background-color: #cf6983;
  border-color: #cf6983; }

.mapa {
  margin-top: 100px;
  text-align: center;
  align-content: left; }

/*--------- Asistencia ---------*/
.nosotros p {
  display: flex;
  color: #3d3d3d;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-size: medium; }

.nosotros ul {
  list-style: none;
  color: #3d3d3d;
  margin-left: -10px;
  padding-bottom: 30px; }
  .nosotros ul li a {
    text-decoration: none;
    display: block;
    font-size: small; }

/*--------- FOOTER ---------*/
.piePagina {
  background-color: #242021;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
  padding: 40px 0;
  padding-bottom: 20px;
  overflow: hidden; }
  .piePagina section a {
    text-decoration: none;
    background-color: #69414b;
    color: white;
    text-align: centre;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px; }

.asistencia {
  font-size: 15px;
  color: white; }
  .asistencia a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px; }
  .asistencia ul {
    list-style: none;
    margin-top: 5px;
    margin-left: -30px; }
    .asistencia ul li a {
      text-decoration: none;
      display: block;
      font-size: small; }

.redes h5 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  color: white; }

.redes a img {
  margin-left: 2px;
  width: 20px;
  height: 20px; }

/*:::::::: Vista Desktop ::::::::*/
@media only screen and (min-width: 1024px) {
  #gridIndex {
    grid-template-areas: "header" "titulo" "losDestacados" "pie";
    grid-template-rows: auto auto auto auto; }
  .encabezado {
    grid-area: header; }
  .titulo {
    grid-area: titulo; }
  .losDestacados {
    grid-area: losDestacados; }
  .piePagina {
    grid-area: pie; }
  #gridContenedor {
    grid-template-areas: "header" "titulo" "destacados" "pie";
    grid-template-rows: auto auto auto auto; }
  .tituloPagina {
    grid-area: titulo; }
  .eventos, .nosotros {
    grid-area: destacados; } }

/*:::::::: Vista Mobile ::::::::*/
@media (max-width: 576px) {
  #gridIndex {
    grid-template-areas: "header" "titulo" "losDestacados" "pie";
    grid-template-rows: auto auto auto auto; }
  /*HEARDER */
  .encabezado {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center; }
  .nombre {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 23px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px; } }
  @media (max-width: 576px) and (max-width: 270px) {
    .nombre {
      display: none; } }

@media (max-width: 576px) {
  a:hover {
    color: white; }
  .navbar-toggler {
    display: flex;
    border-color: transparent;
    border: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #fa7f9e; }
    .navbar-toggler :hover {
      background-color: #cf6983;
      border-radius: 10%; }
    .navbar-toggler img {
      width: 70%; }
  .colornav {
    width: 100%;
    display: flex;
    list-style: none;
    background-color: #fa7f9e;
    padding: 0%; }
  .encabezado nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; }
    .encabezado nav ul li {
      text-align: center; }
    .encabezado nav ul a:hover {
      background-color: #cf6983;
      color: white; }
  /*MAIN*/
  .titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff8e6;
    text-align: center;
    height: fit-content;
    margin-bottom: 10px; }
    .titulo h2 {
      margin-top: 40px;
      font-size: 30px;
      padding: 10px;
      text-align: center; }
    .titulo p {
      padding: 10px;
      text-align: center;
      font-size: 14px;
      padding-bottom: 30px; }
  .losDestacados h3 {
    grid-area: losDestacados;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 50px; }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 1rem 1rem;
    width: 50%; }
  .carousel {
    padding-bottom: 50px;
    margin: 2rem 4rem; }
  /*FOOTER*/
  .piePagina {
    grid-area: pie;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  /*------- Main de mis otras páginas --------*/
  #gridContenedor {
    grid-template-areas: "header" "titulo" "destacados" "pie";
    grid-template-rows: auto auto auto auto; }
  .tituloPagina {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    text-align: center; }
  .eventos, .nosotros {
    grid-area: destacados;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fae8bb;
    margin-bottom: 50px; }
    .eventos h2, .nosotros h2 {
      color: #3d3d3d;
      padding-top: 30px;
      text-align: center; }
  .teatro {
    display: none; }
  .eventosDes0 img, .eventosDes img, .eventosDes2 img, .eventosDes3 img, .eventosDes4 img {
    padding-top: 30px;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 80%; }
  .eventosDes0 p, .eventosDes p, .eventosDes2 p, .eventosDes3 p, .eventosDes4 p {
    display: none; }
  .eventosDes0 iframe, .eventosDes iframe, .eventosDes2 iframe, .eventosDes3 iframe, .eventosDes4 iframe {
    display: none; }
  .eventosDes img {
    padding-top: 30px;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 80%; }
  .eventosDes p {
    display: none; }
  .eventosDes2 img {
    padding-top: 30px;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 80%; }
  .eventosDes2 p {
    display: none; }
  .eventosDes3 img {
    padding-top: 30px;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 80%; }
  .eventosDes3 p {
    display: none; }
  /*FORMULARIO*/
  .formGrid {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    background-color: #fae8bb;
    margin-bottom: 100px; }
  .mapa {
    margin: 30px;
    text-align: center;
    align-content: left;
    overflow: hidden; } }
