/*--------- HEARDER ---------*/
$colorfont: (   //mapa de colores
    tituloPag: #f0f4fa,
    secciones: white,
    fondo: #fa7f9e,
    transicion: #cf6983
);

header .contenerdor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.nombre{
    text-align: justify;
    color: map-get($colorfont, tituloPag);
    font-weight: bold;
    font-size: 25px;
    margin-left: -25px;
}

a:hover{
    color: map-get($colorfont, secciones);
}

.colornav {
    width: 100%;
    display: flex;
    list-style: none;
    background-color: map-get($colorfont, fondo); 
    padding: 0%; 
}

.encabezado nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    flex-wrap: wrap;

    li a {
        color: map-get($colorfont, secciones);
        display: block;
        padding: 10px 50px; 
        text-decoration: none;
        font-weight: bold;
        font-size: large;
        &:hover {
            background-color:map-get($colorfont, transicion) ;
            color: map-get($colorfont, secciones);
        }
    }
}
